.Tommy_bg_under {
  height: 100vh;
  background-color: rgb(205, 209, 212);
  & .login {
    height: 220px;
    width: 400px;
    border-radius: 4px;
  }
  & .Tommy_inner_bg {
    position: relative;
  }
  & .input_size {
    height: 40px;
    box-shadow: 2px 2px 2px 1px rgba(153, 149, 149, 0.2);
  }
  & .submit {
    font-size: 18px;
    border-radius: 100px;
  }
  & .google_submit {
    font-size: 18px;
    color: #fff;
    border-radius: 100px;
    margin-top: 25px;
    background-color: rgb(76, 76, 76);
  }
  & .here {
    border-bottom: 1px solid black;
  }
  & .Tommy_to_login {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
